@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.main-page-container {
  background-image: url("https://www.hdwallpapers.in/download/sunset_minimal_landscape_4k-HD.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.about-us-container {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-weight: 500;
  font-style: normal;

  h1 {
    font-size: 2.5em;
    color: #ffffff;
  }

  p {
    font-size: 1.2em;
    margin-top: 0;
    color: #ffffff;
  }

  .team-lead,
  .team-members {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 20px;
    padding: 60px;
  }

  .team-member {
    flex: 1 0 18%;
    margin: 0 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-15px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .member-photo {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }

    h3 {
      margin-top: 10px;
      font-size: 1.5em;
    }

    p {
      font-size: 1em;
      color: #666;
      margin-bottom: 10px;
    }

    .social-links {
      display: flex;
      justify-content: center;
      gap: 10px;

      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 1024px) {
  .team-lead,
  .team-members {
    flex-wrap: wrap;
    justify-content: center;
  }

  .team-member {
    flex: 1 0 45%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .team-member {
    flex: 1 0 90%;
  }
}
