@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-family: "Roboto", sans-serif;
}

.hotelDetailsPopup {
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 1000px;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
  overflow-y: auto;
  width: 70%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popupContent h2 {
  font-weight: 700;
  margin-bottom: 20px;
  width: 100%;
}

h2 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.photoContainer {
  margin: 20px -30px;
  position: relative;
  overflow: hidden;
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition:
      opacity 1.5s ease,
      transform 1.5s ease;
    width: 100%;
  }
  .active {
    opacity: 1;
    position: relative;
    transform: translateX(0);
  }
}

button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

.nearbyRestaurants {
  margin-top: 20px;
  width: 100%;

  .restaurant {
    margin-bottom: 15px;
    width: calc(50% - 10px);

    .restaurantName {
      font-weight: 600;
      font-size: 1.1rem;
      margin-bottom: 5px;
    }

    .rating {
      margin-bottom: 5px;
      .star {
        color: #bbb;
        margin-right: 2px;
      }
      .filled {
        color: #ffbf00;
      }
    }

    .restaurantType {
      font-size: 0.9rem;
      color: #666;
      margin-bottom: 2px;
    }

    .distance {
      font-size: 0.9rem;
      font-style: italic;
    }
  }
}

.restaurantsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
